*{
	margin: 8px;
	padding: 8px;
	font-size: 25px;
}
body{
	color: green;
	border: 5px red solid;
	text-transform: uppercase;
	background-color: lightblue;
	text-align: center;
}
input{
	color: red;
	border: 3px orange dotted;
	width: 350px;
}
input:hover{
	color: blue;
}